body {
  padding: 25px;
  background-color: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

.dark-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(31, 29, 29);
}

.Dark-Mode-2 {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}