body {
  padding: 25px;

  background-color: rgb(230, 214, 214);
  color: rgb(26, 24, 24);
}

.dark-mode {
  background-color: rgb(255, 255, 255);
  color: rgb(68, 62, 62);
}

.iframe {
  border-style: double;
  border-radius: 10px;
  border-width: 10px;
}

.footer {
  background-color: bisque;
  height: 200px
}